In [1]:
pip install numpy

Requirement already satisfied: numpy in ./opt/anaconda3/lib/python3.7/site-packages (1.17.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in ./opt/anaconda3/lib/python3.7/site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib) (1.17.2)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.4.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install scipy

Requirement already satisfied: scipy in ./opt/anaconda3/lib/python3.7/site-packages (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip freeze

alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==1.0.1
astroid==2.3.1
astropy==3.2.2
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
fsspec==0.5.2
future==0.17.1
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
greenlet==0.4.15
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.17.2
numpydoc==0.9.1
olefile==0.46
openpyxl==3.0.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
pluggy==0.13.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
requests==2.22.0
rope==0.14.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.9
statsmodels==0.10.1
sympy==1.4
tables==3.5.2
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
zict==1.0.0
zipp==0.6.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip3 install --upgrade pip

SyntaxError: invalid syntax (<ipython-input-2-fa9c188119e3>, line 1)

In [3]:
import math

In [4]:
math.sqrt(25)

5.0

In [5]:
math.pi

3.141592653589793

In [6]:
import math as mt

In [7]:
mt.sqrt(25)

5.0

In [8]:
from numpy import random

In [9]:
import numpy as np

In [10]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [11]:
np.mean(dataOne)

0.5738826031386677

In [12]:
mt.sqrt(np.mean(dataOne))

0.7575503964348957

In [13]:
mt.sqrt(datOne)

NameError: name 'datOne' is not defined

In [14]:
mt.sqrt(np.mean(dataOne))

0.7575503964348957

In [15]:
print(dataOne)

[[6.82483805e-01 8.01333830e-01 2.07123464e-01 1.63797663e-01
  6.05518421e-01]
 [8.23295927e-01 5.91979856e-01 4.56014005e-01 6.27601020e-01
  1.76051019e-01]
 [9.96272131e-01 4.14644995e-01 7.09065955e-01 6.14251736e-01
  6.39497616e-01]
 [9.78162105e-01 5.92779136e-01 8.56096876e-01 8.74264143e-01
  1.58902002e-01]
 [7.81088789e-01 1.67891890e-01 9.37217429e-01 4.91365598e-01
  3.65666397e-04]]

In [16]:
in_array = [0, math.pi / 2, np.pi / 3, np.pi]
print ("Input array : \n", in_array)

Input array :
 [0, 1.5707963267948966, 1.0471975511965976, 3.141592653589793]

In [17]:
print('Greivin Arias with Data Science')

Greivin Arias with Data Science

In [18]:
variableName = 25

In [19]:
print(variableName)

25

In [20]:
variableName1 = 'Greivin Arias'

In [21]:
print(variableName1)

Greivin Arias

In [22]:
type(variableName)

int

In [23]:
variableName = 25.0

In [24]:
type(variableName)

float

In [25]:
varOne = 25

In [26]:
varTwo = 25.0

In [27]:
varThree = varOne + varTwo

In [28]:
print(varThree)

50.0

In [29]:
varTwo 'Hello''

SyntaxError: invalid syntax (<ipython-input-29-e694f1a36d5b>, line 1)

In [30]:
varTwo = 'Hello'

In [31]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
listOne = [1,2,3,4,5]

In [33]:
print(listOne)

[1, 2, 3, 4, 5]

In [34]:
print(listOne[0:2])

[1, 2]

In [35]:
print(listOne[0,2])

TypeError: list indices must be integers or slices, not tuple

In [36]:
print(listOne[0:5])

[1, 2, 3, 4, 5]

In [37]:
print(listOne[0:4])

[1, 2, 3, 4]

In [38]:
Tels = {'Jack': 4098, 'Sape': 4139}

In [39]:
Tels['Jack']

4098

In [40]:
Nacimientos = {'Greivin': 1983, 'Cata'= 1988, 'Dani' = 2003, 'Floppy' = 2018, 'Matrimonio' = 2020}

SyntaxError: invalid syntax (<ipython-input-40-d1eaa8ce8173>, line 1)

In [41]:
Nacimientos = {'Greivin':1983, 'Cata':1988, 'Dani':2003, 'Floppy':2018, 'Matrimonio':2020}

In [42]:
math.gcd('Greivin', 'Cata')

TypeError: 'str' object cannot be interpreted as an integer

In [43]:
math.gcd(Nacimientos['Greivin'], Nacimientos['Cata'])

1

In [44]:
math.dist(Nacimientos['Greivin'], Nacimientos['Cata'])

AttributeError: module 'math' has no attribute 'dist'

In [45]:
math.dist(Nacimientos['Greivin'], Nacimientos['Cata'])

AttributeError: module 'math' has no attribute 'dist'

In [46]:
math.cos(Nacimientos['Greivin'])

-0.7930262507650607

In [47]:
math.log10(Nacimientos['Floppy'])

3.3049211619008916

In [48]:
math.sqrt(Nacimientos['Dani'])

44.75488800120049

In [49]:
print(math.cos(Nacimientos['Greivin']))

-0.7930262507650607

In [50]:
print9math.gcd(Nacimientos['Greivin'], Nacimientos['Cata'])0

SyntaxError: invalid syntax (<ipython-input-50-0d124a4fc44d>, line 1)

In [51]:
print(math.gcd(Nacimientos['Greivin'], Nacimientos['Cata']))

1

In [52]:
print(math.log10(Nacimientos['Floppy']))

3.3049211619008916

In [53]:
print(math.sqrt(Nacimientos['Dani']))

44.75488800120049

In [54]:
print(listOne)

[1, 2, 3, 4, 5]

In [55]:
listOne.insert(6)

TypeError: insert() takes exactly 2 arguments (1 given)

In [56]:
listOne.insert(6,6)

In [57]:
print(listOne)

[1, 2, 3, 4, 5, 6]

In [58]:
listOne.append(7)

In [59]:
print(listOne)

[1, 2, 3, 4, 5, 6, 7]

In [60]:
listOne.insert(0,0)

In [61]:
print(listOne)

[0, 1, 2, 3, 4, 5, 6, 7]

In [62]:
listOne.remove(3)

In [63]:
print(listOne)

[0, 1, 2, 4, 5, 6, 7]

In [64]:
listOne([6])

TypeError: 'list' object is not callable

In [65]:
listOne.pop([6])

TypeError: 'list' object cannot be interpreted as an integer

In [66]:
listOne.pop

In [67]:
print(listOne)

[0, 1, 2, 4, 5, 6, 7]

In [68]:
listOne.count(2)

1

In [69]:
listOne.append(2)

In [70]:
print(listOne)

[0, 1, 2, 4, 5, 6, 7, 2]

In [71]:
listOne.count(2)

2

In [72]:
 listOne.sort

In [73]:
print(listOne)

[0, 1, 2, 4, 5, 6, 7, 2]

In [74]:
listOne

[0, 1, 2, 4, 5, 6, 7, 2]

In [75]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [76]:
fruits.count('apple')

2

In [77]:
fruits.count('grape')

0

In [78]:
fruits.index('banana')

3

In [79]:
fruits.reverse()

In [80]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [81]:
fruits.append('grape')

In [82]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [83]:
fruits.sort()

In [84]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [85]:
fruits.pop()

'pear'

In [86]:
fruits.pop(4)

'grape'

In [87]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange']

In [88]:
listOne.sort

In [89]:
listOne

[0, 1, 2, 4, 5, 6, 7, 2]

In [90]:
#Collections.deque was designed to have fast appends and pops from both ends
from collections import deque

In [91]:
queue = deque(["Floppy", "Greivin"])

In [92]:
queue.append("Cata")

In [93]:
queue.append("Dani")

In [94]:
queue

deque(['Floppy', 'Greivin', 'Cata', 'Dani'])

In [95]:
queue.popleft

In [96]:
queue

deque(['Floppy', 'Greivin', 'Cata', 'Dani'])

In [97]:
queue.popleft()

'Floppy'

In [98]:
queue.popleft()

'Greivin'

In [99]:
queue

deque(['Cata', 'Dani'])

In [100]:
squares = []
>>> for x in range(10):
...     squares.append(x**2)

In [101]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [102]:
squares = list(map(lambda x: x**2, range(10)))

In [103]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [105]:
[(x, y) for x in [1,2,3] for y in [3,1,4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [106]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [107]:
>>> combs = []
>>> for x in [1,2,3]:
...     for y in [3,1,4]:
...         if x != y:
...             combs.append((x, y))

In [108]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [109]:
vec = [-4, -2, 0, 2, 4]

In [110]:
[x**2 for x in vec]

[16, 4, 0, 4, 16]

In [111]:
[abs(x)*2 for x in vec]

[8, 4, 0, 4, 8]

In [112]:
matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [113]:
mstrix

NameError: name 'mstrix' is not defined

In [114]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [115]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [116]:
a = [-1,1,66.25,333,333,12345.5]

In [117]:
del a[0]

In [118]:
a

[1, 66.25, 333, 333, 12345.5]

In [119]:
del a[2:4]

In [120]:
a

[1, 66.25, 12345.5]

In [121]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [122]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [123]:
>>> the_world_is_flat = True
>>> if the_world_is_flat:
...     print("Be careful not to fall off!")

Be careful not to fall off!

In [124]:
2+2

4

In [125]:
50 -5*6

20

In [126]:
(50-5*6)/4

5.0

In [127]:
8/5

1.6

In [128]:
17/3

5.666666666666667

In [129]:
17//3

5

In [130]:
17%3

2

In [131]:
5*3+2

17

In [132]:
5**2

25

In [133]:
2**7

128

In [134]:
width = 20
>>> height = 5 * 9
>>> width * height

900

In [135]:
n

NameError: name 'n' is not defined

In [136]:
4 * 3.75 - 1

14.0

In [137]:
>>> tax = 12.5 / 100
>>> price = 100.50
>>> price * tax

12.5625

In [138]:
price + _

113.0625

In [139]:
round (_,1)

113.1

In [140]:
'spam eggs'  # single quotes

'spam eggs'

In [141]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [142]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [143]:
'"Yes," they said.'

'"Yes," they said.'

In [144]:
"\"Yes,\" they said."

'"Yes," they said.'

In [145]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [146]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [147]:
s = 'First line.\nSecond line.'  # \n means newline

In [148]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [149]:
print(s)

First line.
Second line.

In [150]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [151]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [152]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [153]:
3 * 'un' + 'ium' # 3 times 'un', followed by 'ium'

'unununium'

In [154]:
'Py' 'thon'

'Python'

In [155]:
'Py' 'thon'

'Python'

In [156]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')

In [157]:
text

'Put several strings within parentheses to have them joined together.'

In [158]:
prefix = 'Py'

In [159]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-159-c5901e312aa3>, line 1)

In [160]:
prefix + 'thon'

'Python'

In [161]:
>>> word = 'Python'
>>> word[0]  # character in position 0
>>> word[5]  # character in position 5

'n'

In [162]:
word[0]  # character in position 0

'P'

In [163]:
word[-1]  # last character

'n'

In [164]:
word[-2]  # second-last character

'o'

In [165]:
word[-6]

'P'

In [166]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [167]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [168]:
word[0:2] + word[2:6]

'Python'

In [169]:
word[:2] + word[2:]

'Python'

In [170]:
word[:4] + word[4:]

'Python'

In [171]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [172]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [173]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [174]:
word[42]

IndexError: string index out of range

In [175]:
word[4:42]

'on'

In [176]:
word[42:]

''

In [177]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [178]:
'J' + word[1:]

'Jython'

In [179]:
word[:2] + 'py'

'Pypy'

In [180]:
s = 'supercalifragilisticexpialidocious'

In [181]:
len(s)

34

In [182]:
squares = [1, 4, 9, 16, 25]

In [183]:
squaes

NameError: name 'squaes' is not defined

In [184]:
squares

[1, 4, 9, 16, 25]

In [185]:
squares[0]

1

In [186]:
squares[-1]

25

In [187]:
squares[-3:]

[9, 16, 25]

In [188]:
squares[:]

[1, 4, 9, 16, 25]

In [189]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [190]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [191]:
cubes

[1, 8, 27, 65, 125]

In [192]:
4 ** 3  # the cube of 4 is 64, not 65!

64

In [193]:
cubes[3] =64

In [194]:
cubes

[1, 8, 27, 64, 125]

In [195]:
cubes.append(216)  # add the cube of 6

In [196]:
cubes.append(7 ** 3)  # and the cube of 7

In [197]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [198]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [199]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [200]:
# replace some values
letters[2:5] = ['C', 'D', 'E']

In [201]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [202]:
# now remove them
letters[2:5] = []

In [203]:
letter

NameError: name 'letter' is not defined

In [204]:
letters

['a', 'b', 'f', 'g']

In [205]:
# clear the list by replacing all the elements with an empty list
letters[:] = []

In [206]:
letters

[]

In [207]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [208]:
a = ['a', 'b', 'c']

In [209]:
n = [1, 2, 3]

In [210]:
x = [a, n]

In [211]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [212]:
x[0]

['a', 'b', 'c']

In [213]:
x[0][1]

'b'

In [214]:
# Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1
>>> while a < 10:
...     print(a)
...     a, b = b, a+b

0
1
1
2
3
5
8

In [215]:
a, b = 0, 1
>>> while a < 1000:
...     print(a)
...     a, b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [216]:
a, b = 0, 1
>>> while a < 1000:
...     print(a,b)
...     a, b = b, a+b

0 1
1 1
1 2
2 3
3 5
5 8
8 13
13 21
21 34
34 55
55 89
89 144
144 233
233 377
377 610
610 987
987 1597

In [217]:
>>> x = int(input("Please enter an integer: "))
Please enter an integer: 42
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')

SyntaxError: invalid syntax (<ipython-input-217-8a2359a22199>, line 2)

In [218]:
>>> x = int(input("Please enter an integer: "))
Please enter an integer: 42
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...
More

SyntaxError: invalid syntax (<ipython-input-218-0c737211ed8d>, line 2)

In [219]:
x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [220]:
>>> x = int(input("Please enter an integer: "))
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...
More

Please enter an integer: 42
More

NameError: name 'More' is not defined

In [221]:
>>> x = int(input("Please enter an integer: "))
Please enter an integer: 42
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')

SyntaxError: invalid syntax (<ipython-input-221-8a2359a22199>, line 2)

In [222]:
>>> x = int(input("Please enter an integer: "))
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')

Please enter an integer: 12
More

In [224]:
>>> x = int(input("Please enter an integer: "))
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')

Please enter an integer: 1
Single

In [225]:
x

1

In [226]:
>>> x = int(input("Please enter an integer: "))
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')

Please enter an integer: -12
Negative changed to zero

In [227]:
x

0

In [228]:
>>> # Measure some strings:
... words = ['cat', 'window', 'defenestrate']
>>> for w in words:
...     print(w, len(w))

cat 3
window 6
defenestrate 12

In [229]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

NameError: name 'users' is not defined

In [230]:
# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

NameError: name 'users' is not defined

In [231]:
>>> for i in range(5):
...     print(i)

0
1
2
3
4

In [232]:
range(5, 10)
   5, 6, 7, 8, 9

IndentationError: unexpected indent (<ipython-input-232-740e9d66b7c6>, line 2)

In [233]:
range(5, 10)

range(5, 10)

In [234]:
range

range

In [235]:
range(10)

range(0, 10)

In [236]:
print(range)

<class 'range'>

In [237]:
>>> a = ['Mary', 'had', 'a', 'little', 'lamb']
>>> for i in range(len(a)):
...     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [238]:
print(range(10))

range(0, 10)

In [239]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [240]:
list(range(4))

[0, 1, 2, 3]

In [243]:
>>> for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print('N=',n)
...         print('X=',x)
...         print(n, 'is a prime number')

N= 2
X= 3
2 is a prime number
N= 3
X= 2
3 is a prime number
4 equals 2 * 2
N= 5
X= 4
5 is a prime number
6 equals 2 * 3
N= 7
X= 6
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [244]:
>>> for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
>>> while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
>>> class MyEmptyClass:
...     pass

In [ ]:
>>> def initlog(*args):
...     pass   # Remember to implement this!

In [ ]:
>>> def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

In [ ]:
fib(2000)

In [ ]:
fib(2000)

In [ ]:
2+2

In [ ]:
print(variableName)

In [1]:
print(variableName)

NameError: name 'variableName' is not defined

In [12]:
>>> def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

In [3]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [4]:
f = fib

In [5]:
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [6]:
fib(0)

In [7]:
print(fib(0))

None

In [16]:
>>> def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

In [17]:
fib(0)

In [18]:
>>> def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result

In [19]:
f100 = fib2(100)

In [20]:
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [21]:
fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [22]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [23]:
ask_ok

In [24]:
ask_ok('Do you really want to quit?')

Do you really want to quit?Yes
Please try again!
Do you really want to quit?Yes
Please try again!
Do you really want to quit?Y
Please try again!
Do you really want to quit?yes

True

In [25]:
ask_ok('OK to overwrite the file?', 2)

OK to overwrite the file?No
Please try again!
OK to overwrite the file?No
Please try again!
OK to overwrite the file?no

False

In [26]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [27]:
def f(a, L=[]):
    L.append(a)
    return L

In [28]:
print(f(1))

[1]

In [29]:
print(f(2))

[1, 2]

In [30]:
print(f(3))

[1, 2, 3]

In [31]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [32]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [33]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [34]:
parrot(voltage=1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [35]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [36]:
parrot(action='VOOOOOM', voltage=1000000)

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [37]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [38]:
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [39]:
parrot()

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [40]:
parrot(voltage=5.0, 'dead')

SyntaxError: positional argument follows keyword argument (<ipython-input-40-d50f269134a5>, line 1)

In [41]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [42]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [46]:
>>> def standard_arg(arg):
...     print(arg)

In [48]:
>>> def pos_only_arg(arg, /):
...     print(arg)

SyntaxError: invalid syntax (<ipython-input-48-dac7287a6fee>, line 1)

In [49]:
>>> def kwd_only_arg(*, arg):
...     print(arg)

In [50]:
>>> def combined_example(pos_only, /, standard, *, kwd_only):
...     print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-50-e71a7fd473ab>, line 1)

In [51]:
standard_arg(2)

2

In [52]:
standard_arg(arg=2)

2

In [53]:
pos_only_arg(1)

NameError: name 'pos_only_arg' is not defined

In [54]:
pos_only_arg(arg=1)

NameError: name 'pos_only_arg' is not defined

In [55]:
kwd_only_arg(3)

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [56]:
kwd_only_arg(arg=3)

3

In [57]:
ef foo(name, **kwds):
    return 'name' in kwds

SyntaxError: invalid syntax (<ipython-input-57-f3628ce7145e>, line 1)

In [58]:
def foo(name, /, **kwds):
    return 'name' in kwds
>>> foo(1, **{'name': 2})
True

SyntaxError: invalid syntax (<ipython-input-58-b83dd2be1800>, line 1)

In [59]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

SyntaxError: invalid syntax (<ipython-input-59-d398be9f5c1a>, line 1)

In [60]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [61]:
>>> def concat(*args, sep="/"):
...     return sep.join(args)

In [71]:
>>> concat("earth", "mars", "venus")

'earth-Next-mars-Next-venus'

In [72]:
>>> concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [68]:
>>> def concat2(*args, sep="-Next-"):
...     return sep.join(args)

In [70]:
>>> concat2("earth", "mars", "venus")

'earth-Next-mars-Next-venus'

In [73]:
list(range(3, 6)) # normal call with separate arguments

[3, 4, 5]

In [74]:
args = [3, 6]

In [75]:
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [76]:
>>> def parrot(voltage, state='a stiff', action='voom'):
...     print("-- This parrot wouldn't", action, end=' ')
...     print("if you put", voltage, "volts through it.", end=' ')
...     print("E's", state, "!")

In [77]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [78]:
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [79]:
>>> def make_incrementor(n):
...     return lambda x: x + n

In [80]:
f = make_incrementor(42)

In [81]:
f(0)

42

In [82]:
f(2)

44

In [83]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [84]:
pairs.sort(key=lambda pair: pair[1])

In [85]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [86]:
>>> def my_function():
...     """Do nothing, but document it.
...
...     No, really, it doesn't do anything.
...     """
...     pass
...

In [87]:
>>> print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [88]:
>>> def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...

In [89]:
>>> f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [90]:
>>> fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [91]:
>>> fruits.count('apple')

2

In [92]:
>>> fruits.count('tangerine')

0

In [93]:
>>> fruits.index('banana')

3

In [94]:
3
>>> fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [95]:
fruits.reverse()

In [96]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [97]:
>>> fruits.append('grape')

In [98]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [99]:
fruits.sort()

In [100]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [101]:
fruits.pop

In [102]:
fruits.pop()

'pear'

In [103]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [104]:
stack = [3,4,5]

In [105]:
stack.append(6)

In [106]:
stack.append(7)

In [107]:
stack

[3, 4, 5, 6, 7]

In [108]:
stack.pop()

7

In [109]:
stack.pop()

6

In [110]:
from collections import deque

In [111]:
queue = deque(["Greivin", "Cata", "Floppy"])

In [112]:
queue.append("Dani")

In [113]:
queue.popleft()

'Greivin'

In [114]:
queue.popleft()

'Cata'

In [115]:
queue

deque(['Floppy', 'Dani'])

In [116]:
squares = []
for x in range(10):
    squares.append(x**2)

In [117]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [118]:
squares = list(map(lambda x: x**2, range(10)))

In [119]:
squares = [x**2 for x in range(10)]

In [120]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [121]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [122]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [123]:
vec = [-4, -2, 0, 2, 4]

In [124]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [125]:
[x*2*2 for x in vec]

[-16, -8, 0, 8, 16]

In [126]:
[x**2 for x in vec]

[16, 4, 0, 4, 16]

In [127]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [128]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [129]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [130]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [131]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [132]:
[x, x**2 for x in range(6)]
  File "<stdin>", line 1, in <module>
    [x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-132-4811c986d710>, line 1)

In [133]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-133-a4841c5cdd7d>, line 1)

In [134]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [135]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [136]:
from math import pi

In [137]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [138]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [139]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [140]:
transposed = []

In [141]:
for i in range(4):
    transposed.append([row[i] for row in matrix])

In [142]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [143]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

In [144]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [145]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [146]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [147]:
del a[0]

In [148]:
a

[1, 66.25, 333, 333, 1234.5]

In [149]:
del a[2:4]

In [150]:
a

[1, 66.25, 1234.5]

In [151]:
del a[:]

In [152]:
a

[]

In [153]:
del a

In [154]:
a

NameError: name 'a' is not defined

In [155]:
t = 12345, 54321, 'hello!'

In [156]:
t[0]

12345

In [157]:
t

(12345, 54321, 'hello!')

In [158]:
u = t, (1, 2, 3, 4, 5)

In [159]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [160]:
t[0] = 8888

TypeError: 'tuple' object does not support item assignment

In [161]:
v = ([1, 2, 3], [3, 2, 1])

In [162]:
v

([1, 2, 3], [3, 2, 1])

In [163]:
empty = ()

In [164]:
singleton = 'hello',    # <-- note trailing comma

In [165]:
len(empty)

0

In [166]:
len(singleton)

1

In [167]:
singleton

('hello',)

In [168]:
x, y, z = t

In [169]:
t

(12345, 54321, 'hello!')

In [170]:
x

12345

In [171]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [172]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [173]:
orange in basket

NameError: name 'orange' is not defined

In [174]:
'orange'in basket

True

In [175]:
'crabgrass' in basket

False

In [176]:
a = set ('abracadabra')

In [177]:
b = set('alacazom')

In [178]:
b = set('alacazam')

In [179]:
a

{'a', 'b', 'c', 'd', 'r'}

In [180]:
a-b

{'b', 'd', 'r'}

In [181]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [182]:
a & b

{'a', 'c'}

In [183]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [184]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [185]:
a

{'d', 'r'}

In [186]:
tel = {'jack': 4098, 'sape': 4139}

In [187]:
tel['guido'] = 4127

In [188]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [189]:
tel['jack']

4098

In [190]:
del tel['sape']

In [191]:
tel

{'jack': 4098, 'guido': 4127}

In [192]:
tel['irv'] = 4127

In [193]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [194]:
list(tel)

['jack', 'guido', 'irv']

In [195]:
sorted(tel)

['guido', 'irv', 'jack']

In [196]:
'guido'in tel

True

In [197]:
'jack'in tel

True

In [198]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [199]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [200]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [201]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [202]:
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [203]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [204]:
questions = ['name', 'quest', 'favorite color']

In [205]:
answers = ['lancelot', 'the holy grail', 'blue']

In [206]:
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [207]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [208]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [209]:
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [210]:
import math

In [211]:
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [212]:
filtered_data = []

In [213]:
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [214]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [215]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [216]:
non_null = string1 or string2 or string3

In [217]:
non_null

'Trondheim'

In [219]:
(1, 2, 3) < (1, 2, 4)

True

In [220]:
[1, 2, 3] < [1, 2, 4]

True

In [221]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [222]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [223]:
(1, 2) < (1, 2, -1)

True

In [224]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [225]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True

In [226]:
pandas.read_csv(/Users/greivinarias/OneDrive/Data Analytics/Tema 5/Task 1/Credit card clients.csv)

SyntaxError: invalid syntax (<ipython-input-226-2ada54bb24ff>, line 1)

In [227]:
Credit_Card_Clients = pandas.read_csv(/Users/greivinarias/OneDrive/Data Analytics/Tema 5/Task 1/Credit Card Clients.csv)

SyntaxError: invalid syntax (<ipython-input-227-75ab30f9de4f>, line 1)

In [228]:
import numpy as np

In [230]:
import pandas as pd

In [234]:
Credit_Card_Clients = pd.read_csv("/Users/greivinarias/OneDrive/Data Analytics/Tema 5/Task 1/Credit Card Clients.csv")
print('Data read successfully!')

Data read successfully!